

#navbar {
	width: 100%;
	height: 60px;
	background-color: red;
}

#navbar td {
	width: 25%;
	border: 1px black;
	text-align: center;
}


#navbar td :hover {
	width: 25%;
	border: 1px black;
	text-align: center;
	background-color: orange;
}